<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/Users/jono-/OneDrive/Jonathan Rogers/Project/Personal/Website/Tom Fishers PT/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main Page</title>


</head>
<body>
  <div class="container">
    <div class="nav">
      <div class="left-side">
        <div class="nav-left-wrapper">
          <a href="home.html">Home</a>
        </div>
        <div class="nav-left-wrapper">
          <a href="aboutme.html">About Me</a>
        </div>
        <div class="nav-left-wrapper">
          <a href="packages.html">Packages</a>
        </div>
      </div>

      <div class="right-side">
        <div class="brand">
          <div>TOM FISHER PERSONAL TRAINER</div>
        </div>
      </div>
    </div>

  </div>
</body>
</html>
